/*

 *= require bootstrap_and_overrides
 *= require font-awesome
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require login
 *= require chosen
 *= require metisMenu
 *= require sb-admin-2
 *= require morris
 *= require custom
 *= require overrides

 */
